*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --normal-fonts : clamp(1.2rem, 1rem + 0.862vw, 1.6rem);
}
html{
    font-size: 62.5%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: palegoldenrod; */
    /* border: 1px solid black; */
}
.logo-container{
    padding: 0;
}


.logo{
    width: 100px;
    height: auto;
    
    /* border: 1px solid red; */
}

.nav-items > ul{
    display: flex;
    list-style: none;
    padding: 0 20px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: var(--normal-fonts);
}
.body{
    /* border: 1px solid red; */
    padding-inline: clamp(2.5rem, 2rem + 1.85vw, 3rem);
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem 1rem;
}
.res-card{
    flex:1 0 18%;
    cursor: pointer;
    background-color: #f0f0f0;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 5px;
    transition: border ease;
    max-width: 18%;
    min-width: 200px;
}
.res-card:hover{
    border: 1px solid #d9d9d9;
}
.res-card h3{
    font-size: var(--normal-fonts);
}
.search-bar{
    margin-block: 15px;
}
#search-input{
    padding: 8px;
    font-size: var(--normal-fonts);
    border: 1px solid #d9d9d9
}
.search{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;

}
.search-btn{
    padding: 8px;
    font-size: var(--normal-fonts);
    border: 1px solid #d9d9d9
}
.res-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 1rem;
}

.filter-btn{
    margin: 10px;
    padding: 8px 12px;
    cursor: pointer;
}